.container_admin {
    width: 98%;
    max-width: 1200px;
    margin: 0 auto;
    
    .admin_btn_confirm {
        margin: 30px 1%;
        font-size: 20px;
        letter-spacing: 2px;
    }
    
    .admin_header,
    .admin_header_lang {
        margin: 25px;
        text-align: center;
        color: #286090;
    }
    
    
    label {
        color: #286090;
        margin-bottom: 10px;
    }
    
    .form-group {
        margin-bottom: 15px;
    }
    
    .form-control {
        height: 45px;
        font-size: 100%;
    }

    .admin_item_wrap_ukr,
    .admin_item_wrap_eng,
    .admin_photo_wrap_hor,
    .admin_photo_wrap_vert {
        width: 47%;
        min-width: 350px;
        display: inline-block;
        border: 1px solid #e5e5e5;
        border-radius: 8px;
        padding: 1%;
        margin: 1%;
        vertical-align: top;
        
        @media screen and (max-width: 780px) {    
            width: 100%;
        }
    }
    
    .admin_news_list_wrap {
        margin-bottom: 80px;
    }
    
    .admin_news_list_item_name,
    .admin_news_list_item_actions,
    .admin_photo_list_item_name,
    .admin_photo_list_item_actions {
        display: inline-block;
        border: 1px solid #e5e5e5;
        border-radius: 8px;
        padding: 1%;
        margin: 0 1%;
        vertical-align: top;
    }
    
    .admin_news_list_item_name,
    .admin_photo_list_item_name {
        width: 85%;
    }
    
    .admin_news_list_item_actions,
    .admin_photo_list_item_actions {
        width: 10%;
        text-align: center;
        color: red;
        cursor: pointer;
    }
    
    .admin_photo_list_wrap {
        padding: 1%;
    }
    
    .admin_photo_list_item_name {
        
        img {
            max-width: 150px;
            max-height: 80px; 
        }
    }
    
    .admin_notice {
        text-align: center;
        font-size: 70%;
        color: #286090;
    }
}

.login_form_wrap {
    widows: 350px;
    margin: 50px auto;
    text-transform: none;
}

.logout {
    position: relative;
    top: 20px;
    left: 1%;
}