<template name="admin_news">
    
        <h1 class="admin_header">Новини Миклухи</h1>
        
        {{ #if sessionAddNewsItemMode }}
            <section class="admin_add_news_item_wrap">
                    
                {{ #autoForm collection="News" id="addNewsItem" type="insert" }}
                
                    <fieldset>
                        <div class="admin_item_wrap_ukr">
                            <h3 class="admin_header_lang">Українською</h3>
                            {{> afQuickField name='ukrainian.news_article_head'}}
                            {{> afQuickField name='ukrainian.news_article_body'}}
                        </div>
                        
                        <div class="admin_item_wrap_eng">
                            <h3 class="admin_header_lang">Англійською</h3>
                            {{> afQuickField name='english.news_article_head'}}
                            {{> afQuickField name='english.news_article_body'}}
                        </div>
                        
                        <p class="admin_notice">Перед завантаженням фотографії не забудь її стиснути тут: <a href="http://compresspng.com/" target="_blank">для PNG</a>, <a href="http://compressjpg.com/" target="_blank">для JPG</a></p>
                        
                        {{> afQuickField name='files'}}
                    </fieldset>
                    
                    <button type="submit" class="btn btn-primary admin_btn_confirm" id="addNewsItemConfirm"><i class="fa fa-save"></i> ЗБЕРЕГТИ</button>
                    <div class="btn btn-default admin_btn_confirm" id="addNewsItemClose"><i class="fa fa-close"></i> ЗАКРИТИ</div>
                
                {{ /autoForm }}
                    
                <!--</div>-->
            </section>  
        {{ else }}
            <div class="admin_add_news_item_btn btn btn-default admin_btn_confirm"><i class="fa fa-plus"></i> Додати новину</div>
        {{ /if }}
        
        <section class="admin_news_list_wrap">
            <h2 class="admin_header">Розміщені новини</h2>
            
            {{ #each item in news }}
            
                {{ >admin_news_item item=item }}
                
            {{ /each }}
            
        </section>
    
</template>