<template name="desk">
    <div class="login_form_wrap accounts-dialog">
        <div class="login-form login-password-form">
            <div id="login-username-label-and-input">
                <label id="login-username-label" for="login-username">
                    Ім'я користувача
                </label>
                <input id="login-username" type="text">
            </div>
            
            <div id="login-password-label-and-input">
                <label id="login-password-label" for="login-password">
                    Пароль
                </label>
                <input id="login-password" type="password">
            </div>
            
            <div class="login-button login-button-form-submit" id="login-btn-submit">
                Увійти
            </div>
        </div>
    </div>
</template>