<template name="start">
    <div class="login_form_wrap accounts-dialog">
        <div class="login-form login-password-form">
            <div id="login-username-label-and-input">
                <label id="login-username-label" for="login-username">
                    Ім'я користувача
                </label>
                <input id="login-username" type="text">
            </div>
            
            <div id="login-password1-label-and-input">
                <label id="login-password1-label" for="login-password1">
                    Пароль
                </label>
                <input id="login-password1" type="password">
            </div>
            
            <div id="login-password2-label-and-input">
                <label id="login-password2-label" for="login-password2">
                    Ще раз пароль
                </label>
                <input id="login-password2" type="password">
            </div>
            
            <div class="login-button login-button-form-submit" id="reg-btn-submit">
                Зареєструватися
            </div>
        </div>
    </div>
</template>