<head>
    <!--[if lte IE 9]>
        <script type="text/javascript">
            alert('Нажаль браузери Opera Mini та Internet Explorer 9 та нижчих версій не в змозі коректно відобразити цей сайт. \nБудь ласка, використовуйте будь який інший браузер. \n\nSorry, but Opera Mini and Internet Explorer 9 or lower versions can\'t show this site correctly. \nPlease, use another browser.');
            window.location = "blank";
        </script>
    <![endif]-->
    <meta charset="UTF-8">
    <meta name=”fragment” content=”!”>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="icons/favicon.ico">
    <!--<meta name="description" content="">-->
    <title></title>
    <script>
        if(Object.prototype.toString.call(window.operamini) === "[object OperaMini]"){
            alert('Нажаль браузери Opera Mini та Internet Explorer 9 та нижчих версій не в змозі коректно відобразити цей сайт. \nБудь ласка, використовуйте будь який інший браузер. \n\nSorry, but Opera Mini and Internet Explorer 9 or lower versions can\'t show this site correctly. \nPlease, use another browser.');
            window.location = "blank";
        }
    </script>
</head>