<template name="index">

    <div class="viewport_wraper">                                 
        <div class="micklukha_container">  
            <img src="imgs/placeholder_img.png" alt="" class="micklukha_container_placeholder_body"> <!-- just placeholder to have container heigt depending on it's width -->
            
            <div class="micklukha_container_nail" id="nail">
                <img src="imgs/nail.png" alt="" class="micklukha_container_nail_img_body">
            </div> <!-- micklukha_container_nail -->
        
            <div class="micklukha_logo_container">
                <img src="imgs/logo.png" alt="" class="micklukha_container_logo_body">
                <div class="micklukha_logo_container_decoLine_wrapper">                        
                    <span class="micklukha_logo_container-firstName">MIKLOUHO - MACLAY </span> 
                    <br> <span class="micklukha_logo_container-lastName">von Mironovshof</span>
                </div>
            </div> <!-- micklukha_logo_container -->
            <div class="micklukha_navigation_container">
                {{ >menu }}
            </div>
            
            <div class="micklukha_container_photo_wraper">
                
                <div class="micklukha_container_photo_frame"  id="fallingFrame">
                    <img src="imgs/full_mik_painting-min.png" class="micklukha_container_photo_frame_photo_body">
    
                </div> <!-- micklukha_container_photo_frame -->           
            </div> <!-- micklukha_container_photo_wraper -->   
            
            <div class="micklukha_narrow" id="mikluhaNarrow">
                    <p class="micklukha_narrow-row micklukha_narrow-row-top">
                        Тер'єра Преподобного Пастора Джона Рассела
                    </p>
                    <p class="micklukha_narrow-row micklukha_narrow-row-bottom">
                        <span>Миклухи-Маклая</span> фон Мироновсхоф біографічний сайт
                    </p>
                
                    <p class="micklukha_narrow-row micklukha_narrow-row-top">
                        Reverend Parson John Russel terrier
                    </p>
                    <p class="micklukha_narrow-row micklukha_narrow-row-bottom">
                        <span>Miklouho-maclay</span> biographical site
                    </p>
            </div>
            
        </div> <!-- micklukha_container -->
    
     </div> <!-- viewport_wraper -->
             
</template>