<template name="about_additional">
    
    <div class="about_text_body_standart_pic_wrap">
        <img src="imgs/about_standart_pic.png" class="about_text_body_standart_pic">
        <div class="about_additional_links about_additional_links_standart">
            <p id="standart_btn">{{ #if ukrainian }} Стандарт породи {{ else }} Breed standard {{ /if }}</p> 
        </div>
    </div>
    
    <div class="about_text_body_doc_wrap">
        <img src="imgs/about_img_bg_doc.png" class="about_text_body_doc">
        <div class="about_additional_links about_additional_links_rodov">
            <p id="rodov_btn">{{ #if ukrainian }} Родовід {{ else }} Pedigree {{ /if }}</p> 
        </div>
    </div>
    
</template>